# TODO b/17015082
allow system_app shell_data_file:dir search;
#allow system_app sysfs:file write;
allow system_app time_daemon:unix_stream_socket connectto;
